@use '../abstracts/' as *;

.home {
  background-color: $bgco-dark;
  overflow: hidden;
  height: 100vh;

}

.sidoux{
  backdrop-filter: blur(5px);
}
.home__container {
  position: relative;
  height: calc(100vh - $nav-height);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__hero {
  width: 90%;
  margin-bottom: $margin-6;

  #portfolio-hero {
    width: 100%;

    mask {
      animation: fill-animate 2s ease-in-out forwards 0s;
    }
  }
}

.home__data {
  color: $fco-light;
  z-index: $z-tooltip;
  text-align: center;
  @include flex-col-center;
}

.home__name {
  font-size: 5rem;
  color: $fco-dark;
  text-shadow: 0 0 0.125em hsl(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;

}

.home__profession,
.home__greeting {
  display: block;
  color:$fco-light;
  font-weight: $f-wight-bold;
}

.home__greeting,
.home__location {
  font-size: 1.25rem;
}

.home__profession {
  font-size: $f-size-normal;

}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img {
  width: 15rem;
}

.home__social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: $margin-3 0;
}

.home__social-icon {
  svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: #FFC343;
  }
}

.home__social-icon:hover {
  svg {
    fill: $bgco-light--darker;
  }
}

.downloads {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

//// media queries

@include minQuery($bp-mobile-hr) {
  .home__img {
    img {
      width: 21rem;
    }
  }
}

@include minQuery($bp-tablet-sm) {
  .home__container {
    min-height: 100vh;
  }

  .home__greeting {
    font-size: $f-size-h2;
  }

  .home__profession {
    font-size: 2rem;
  }

  .home__img {
    img {
      width: 27rem;
    }
  }
}

//animations

.slide-in-bck-br {
  animation: slide-in-bck-br 2s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-bck-tl {
  animation: slide-in-bck-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tracking-in-expand-fwd {
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s
    both;
}

.fade-in {
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both 0.25s;
}

//////////////////
.absolute {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10000;
  height: 100vh;

}


.left {
  width: 50%;
  height: 100vh;

  backdrop-filter: blur(50px);
  border-right: 1px solid #FFCB5C;
  animation: slideLeft 2.5s forwards 0.5s;

  background-image: url("../../assets/icons/left.svg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;

  background-position: 150% 50%;
  background-size: 50%;
}

.right {
  width: 50%;
  height: 100vh;

  backdrop-filter: blur(50px);
  border-left: 1px solid #FFCB5C;
  animation: slideRight 2.5s forwards 0.5s;
  background-image: url("../../assets/icons/right.svg");
  background-repeat: no-repeat;
  background-position: -50% 50%;
  background-size: 50%;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}