@use '../abstracts/' as *;

// button on home screen
.button {
  display: inline-block;
  border-width: 2px;
  border-color: #FFCB5C;
  color: #FFCB5C;
  font-weight: bold;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  text-align: center;
  margin-right: 0.75rem;
// margin-bottom: 5%;
  // text-shadow: 0 0 0.125em hsl(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #FFCB5C, 0 0 0.5em 0 #FFCB5C;
  transition: all 0.5s;
}

.button:hover {
  background-color: $bgco-action--secondary;
  color: $fco-dark;
  transform: scale(1.1);
}

// additional button light
.button-white {
  background-color: $bgco-light;
  color: $fco-dark;
}

.button-white:hover {
  background-color: $bgco-light--darker;
  color: $fco-light;
  transform: scale(1.1);
}

.button-link {
  transition: 0.4s;
  margin-right: $margin-2;

  svg {
    width: 3rem;
    height: 3rem;
    fill: $fco-light;
  }
}

.button-link:hover {
  background: none;
  transform: scale(1.1);
}
