@use './variables' as *;
@use './typography' as *;
@use './mixins' as *;

:root {
  box-sizing: border-box;
}

/* Track */

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin-top: $nav-height;
  font-size: $f-size-normal;
  font-family: $font-family-secondary;
  font-weight: $f-wight-medium;
  background-color: $bgco-light;
  color: $fco-dark--lighter;
  line-height: 1.6;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $fco-dark;
  border-radius: 10px;

}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

//// media queries

@include minQuery($bp-tablet-sm) {
  body {
    margin: 0;
  }
}